.venv
*.csv
*xlsx
__pycache__/
*.pyc
instance/
.env
.env.*
.DS_Store
celerybeat-schedule
migrations/
*.sqlite3
videos/raw/
videos/ready/
logs/
logs/*.log
*.log
*.pot
*.mo
*.sqlite
*.db
*.sqlite3
*.yml
*.json
*.pem
*.key
*.crt
*.p12